body {
  margin: 0;
  font-family: 'AzubiBody', Arial, sans-serif;
  line-height: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'AzubiBody', Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'AzubiH1';
  src: url('../public/fonts/H1-Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AzubiH2';
  src: url('../public/fonts/H2-Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AzubiH3';
  src: url('../public/fonts/H3-Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AzubiH4';
  src: url('../public/fonts/H4-Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AzubiH5';
  src: url('../public/fonts/H5-Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AzubiH6';
  src: url('../public/fonts/H6-Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AzubiBody';
  src: url('../public/fonts/Body-Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AzubiOverline';
  src: url('../public/fonts/Overline-Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AzubiSubtitle';
  src: url('../public/fonts/Subtitle-Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'AzubiH1', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0px 0px;
}

h2 {
  font-family: 'AzubiH2', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0px 0px;
}

h3 {
  font-family: 'AzubiH3', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.15px;
  margin: 0px 0px;
}

h4 {
  font-family: 'AzubiH4', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0px 0px;
}

h5 {
  font-family: 'AzubiH5', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  margin: 0px 0px;
}

h6 {
  font-family: 'AzubiH6', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  margin: 0px 0px;
}

.overline {
  font-family: 'AzubiOverline', Arial, sans-serif;
  text-transform: uppercase;
  line-height: 19px;
  letter-spacing: 10px;
}

.subtitle {
  font-family: 'AzubiSubtitle', Arial, sans-serif;
  text-transform: uppercase;
  line-height: 25px;
  letter-spacing: 1px;
  font-size: 1.1rem;
  opacity: 0.7;
}
